*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    padding:30px;
    margin: 20px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);
    border-radius: 10px;
}

.calculator-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen-div {
    margin: 1%;
    margin-bottom: 4%;
    width: 100%;
    height: 30%;
    border: 10px solid rgb(69, 69, 69);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden; 
}

#screen-div #screen {
    width: 96%;
    height: 40%;
    background-color: #000000 ;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: end;
    pointer-events: none;
    border: none;
}

#screen-div #screen2 {
    width: 96%;
    height: 70%;

    background-color: #000000 ;
    color: rgb(255, 255, 255);
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    text-align: end;
    pointer-events: none;
    border: none;
}
#button-area {
    margin-bottom: -6px;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to left, rgb(47, 46, 46) , rgb(44, 44, 44));
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#control {
    width: 20%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#num-container {
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;  
}
#operator-container {
    margin: 1%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#num-container .num-col {
    width: 100%;
    height: 50%;
    display: flex;
    align-content: center;   
}

#num-container .num-col .nums {
    width: 100%;
    height: 100%;
    margin: 1%;    
}

#operator-container .op-col {
    width: 100%;   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
#operator-container .op-col .op-nums {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
}
#operator-container .op-col .op-nums button{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    border: none;
    color: rgb(5, 5, 5);
    font-size: larger;
}

.c-col {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-col button{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 51, 0);
    color: aliceblue;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#equl-bu button{ 
    width: 90%;
    height: 80%;
    border-radius: 5px;
    border: none;
    background-color: rgb(124, 167, 185);
    color: aliceblue;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#control #equl-bu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button { 
    width: 70%;
    height: 60%;
    border-radius: 10px;
    font-size: larger;
    border: none;
}

button:hover ,#equl-bu button:hover , .c-col button:hover{
    background-color: black;
    color: azure;
}
.num-col {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nums {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    width: 70px;
    height: 70px;
}